.popover-block{
    background-color: #fff;
    padding: 4px 10px;
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    
}
.popover-body{
    position: absolute;
    margin-top: -50px;
}