<mat-dialog-content fxLayout="column" class="-mt-6">
  <vex-page-layout>
    <vex-page-layout-content
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="-mx-6 "
      style="padding: 0;"
    >
      <div class="card overflow-auto" style="min-height: 400px;">
        <div
          class="bg-app-bar px-6 h-16 border-b sticky left-0"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <h2
            class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l border-c-dark"
            fxFlex="none"
            fxHide.xs
          >
            <span *ngIf="selection.isEmpty()">Branches </span>
            <!-- <span *ngIf="selection.hasValue()"
            >{{ selection.selected.length }} Customer<span
              *ngIf="selection.selected.length > 1"
            >
              List</span
            >
            selected</span
          > -->
          </h2>

          <div
            *ngIf="selection.hasValue()"
            class="mr-4 pr-4 border-r"
            fxFlex="none"
          >
            <button
              color="primary"
              mat-icon-button
              matTooltip="Delete selected"
              type="button"
            >
              <mat-icon [icIcon]="icDelete"></mat-icon>
            </button>

            <!-- <button color="primary" mat-icon-button matTooltip="Another action" type="button">
            <mat-icon [icIcon]="icFolder"></mat-icon>
          </button> -->
          </div>

          <div
            class="bg-card rounded-full border px-4"
            fxFlex="400px"
            fxFlex.lt-md="auto"
            fxHide.xs
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
            <input
              [formControl]="searchCtrl"
              class="px-4 py-3 border-0 outline-none w-full bg-transparent"
              placeholder="Search..."
              type="search"
            />
          </div>

          <span fxFlex></span>

          <button
            class="ml-4"
            fxFlex="none"
            fxHide.gt-xs
            mat-icon-button
            type="button"
          >
            <mat-icon [icIcon]="icSearch"></mat-icon>
          </button>

          <button
            [matMenuTriggerFor]="columnFilterMenu"
            class="ml-4"
            fxFlex="none"
            mat-icon-button
            matTooltip="Filter Columns"
            type="button"
          >
            <mat-icon [icIcon]="icFilterList" color="primary"></mat-icon>
          </button>
          <button
            class="text-secondary"
            mat-dialog-close
            mat-icon-button
            type="button"
          >
            <mat-icon [icIcon]="icClose"></mat-icon>
          </button>
        </div>
        <table
          @stagger
          [dataSource]="dataSource"
          class="w-full"
          mat-table
          matSort
        >
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Id" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["id"] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Name" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["name"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="country">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Country" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ getCountryName(row["country"]) | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="addressLine1">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Address Line 1" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["addressLine1"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="addressLine2">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Address Line 2" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["addressLine2"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "City" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["city"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "State" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["state"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="postCode">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Post Code" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["postCode"] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Phone Number" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["phone"] }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <button
                (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ branchData: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button"
              >
                <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
              </button>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr
            *matRowDef="let row; columns: visibleColumns"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row
          ></tr>
        </table>

        

        <!-- branches empty data -->
        <ng-template #branchesEmptyData>
          <div class="empty-table" align="center">
            <svg
              fill="#9AA5B6"
              version="1.0"
              xmlns="http://www.w3.org/2000/svg"
              width="50.000000pt"
              height="50.000000pt"
              viewBox="0 0 512.000000 512.000000"
              preserveAspectRatio="xMidYMid meet"
            >
              <metadata>
                Created by potrace 1.15, written by Peter Selinger 2001-2017
              </metadata>
              <g
                transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                fill="#9AA5B6"
                stroke="#9AA5B6"
              >
                <path
                  d="M1152 4299 c-71 -28 -144 -101 -171 -174 -21 -55 -21 -64 -21 -1210
            l0 -1155 160 0 160 0 0 1120 0 1120 960 0 960 0 0 160 0 160 -997 -1 c-978 0
            -999 0 -1051 -20z"
                />
                <path
                  d="M1792 3659 c-72 -28 -144 -102 -171 -174 -21 -57 -21 -58 -19 -1263
            l3 -1207 23 -43 c29 -55 89 -115 144 -144 l43 -23 967 -3 c961 -2 967 -2 1022
            19 75 28 147 99 175 174 21 55 21 64 21 1245 0 1176 0 1190 -21 1244 -23 64
            -86 133 -150 168 l-44 23 -970 2 c-955 2 -971 2 -1023 -18z m1888 -1419 l0
            -1120 -880 0 -880 0 0 1120 0 1120 880 0 880 0 0 -1120z"
                />
              </g>
            </svg>

            <h4>No Branches Found</h4>
            <br />
          </div>
        </ng-template>
      </div>
    </vex-page-layout-content>
  </vex-page-layout>

  <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button
      (click)="toggleColumnVisibility(column, $event)"
      *ngFor="let column of columns"
      class="checkbox-item mat-menu-item"
    >
      <mat-checkbox
        (click)="$event.stopPropagation()"
        [(ngModel)]="column.visible"
        color="primary"
      >
        {{ column.label }}
      </mat-checkbox>
    </button>
  </mat-menu>

  <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-branchData="branchData" matMenuContent>
      <button
        mat-menu-item
        mat-dialog-close
        (click)="navigateToBranches(branchData.id,branchData.customerId)"
      
      >
        <mat-icon [icIcon]="icDetails"></mat-icon>
        <span>Details</span>
      </button>
    </ng-template>
  </mat-menu>
</mat-dialog-content>
<mat-dialog-actions align="end" class="border-t -mx-6">
  <mat-paginator
          [pageSizeOptions]="pageSizeOptions"
          [pageSize]="pageSize"
          class="sticky left-0"
        ></mat-paginator>

</mat-dialog-actions>
