.mat-menu-panel{
    max-width: 600px!important;
} 
.ctn-info-block{
    h5{
        margin-bottom: 10px;
    }
    strong{
        font-weight: 400;
        font-size: 24px;
    }
    span{
        font-size: 15px;
    }
}