<alert></alert>

<mat-drawer-container
  class="example-container"
  autosize
  [hasBackdrop]="true"
  style="background-color: transparent; height: 100vh;"
>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="over"
    position="end"
    style="width: 800px; max-width: 100%; position: fixed; top: 64px;"
  >
    <table  
      class="w-full mat-table border-bottom-width"
      *ngIf="
        filteredBranchData && filteredBranchData.length > 0;
        else branchesEmptyData
      "
     
    >
      <tr>
        <th class="mat-header-cell pt-4 pb-4 text-left">
          {{ "Name" | uppercase }}
        </th>
        <th class="mat-header-cell pt-4 pb-4 text-left">
          {{ "Country" | uppercase }}
        </th>
        <th class="mat-header-cell pt-4 pb-4 text-left">
          {{ "Address" | uppercase }}
          <mat-icon
            [icIcon]="icClose"
            (click)="drawer.toggle()"
            class="close-icon"
          ></mat-icon>
        </th>
      </tr>
      <tr
        class="bg-light-gray"
        *ngFor="let row of filteredBranchData; let pointIndex = index"
      >
        <td class="mat-cell pt-2 pb-2 text-secondary">{{ row.name }} &nbsp;</td>
        <td class="mat-cell pt-2 pb-2 text-secondary">
          {{ getCountryName(row.country) | titlecase }} &nbsp;
        </td>
        <td class="mat-cell pt-2 pb-2 text-secondary">
          {{ row.addressLine1 }} &nbsp;
        </td>
      </tr>
      <tr
        class="bg-light-gray"
        *ngFor="let row of filteredBranchData; let pointIndex = index"
      >
        <td class="mat-cell pt-2 pb-2 text-secondary">{{ row.name }} &nbsp;</td>
        <td class="mat-cell pt-2 pb-2 text-secondary">
          {{ getCountryName(row.country) | titlecase }} &nbsp;
        </td>
        <td class="mat-cell pt-2 pb-2 text-secondary">
          {{ row.addressLine1 }} &nbsp;
        </td>
      </tr>
      <tr
        class="bg-light-gray"
        *ngFor="let row of filteredBranchData; let pointIndex = index"
      >
        <td class="mat-cell pt-2 pb-2 text-secondary">{{ row.name }} &nbsp;</td>
        <td class="mat-cell pt-2 pb-2 text-secondary">
          {{ getCountryName(row.country) | titlecase }} &nbsp;
        </td>
        <td class="mat-cell pt-2 pb-2 text-secondary">
          {{ row.addressLine1 }} &nbsp;
        </td>
      </tr>
    </table>
  </mat-drawer>

  <vex-page-layout>
    <!-- <alert class="message-block"></alert> -->
    <!-- <vex-secondary-toolbar current="Customers">
    <vex-breadcrumbs [crumbs]="['Customer', 'Customers List']" fxFlex="auto"></vex-breadcrumbs>
  
    <button class="ml-2" color="primary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
  </vex-secondary-toolbar> -->
    <vex-page-layout-header
      class="pb-16"
      fxLayout="column"
      fxLayoutAlign="center start"
    >
      <div
        [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
        class="w-full flex flex-col sm:flex-row justify-between"
      >
        <div>
          <h1 class="title mt-0 mb-1">Customers</h1>
          <vex-breadcrumbs [crumbs]="breadcrumbsParams"></vex-breadcrumbs>
        </div>
        <!-- 
      <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
        <mat-button-toggle value="boxed">BOXED</mat-button-toggle>
        <mat-button-toggle value="fullwidth">FULL-WIDTH</mat-button-toggle>
      </mat-button-toggle-group> -->
      </div>
    </vex-page-layout-header>

    <vex-page-layout-content
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="-mt-6"
    >
      <div class="card overflow-auto -mt-16">
        <div
          class="bg-app-bar px-6 h-16 border-b sticky left-0"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <h2
            class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l border-c-dark"
            fxFlex="none"
            fxHide.xs
          >
            <span *ngIf="selection.isEmpty()">Customer List</span>
            <span *ngIf="selection.hasValue()"
              >{{ selection.selected.length }} Customer<span
                *ngIf="selection.selected.length > 1"
              >
                List</span
              >
              selected</span
            >
          </h2>

          <div
            *ngIf="selection.hasValue()"
            class="mr-4 pr-4 border-r"
            fxFlex="none"
          >
            <button
              (click)="deleteCustomers(selection.selected)"
              color="primary"
              mat-icon-button
              matTooltip="Delete selected"
              type="button"
            >
              <mat-icon [icIcon]="icDelete"></mat-icon>
            </button>

            <!-- <button color="primary" mat-icon-button matTooltip="Another action" type="button">
            <mat-icon [icIcon]="icFolder"></mat-icon>
          </button> -->
          </div>

          <div
            class="bg-card rounded-full border px-4"
            fxFlex="400px"
            fxFlex.lt-md="auto"
            fxHide.xs
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
            <input
              [formControl]="searchCtrl"
              class="px-4 py-3 border-0 outline-none w-full bg-transparent"
              placeholder="Search..."
              type="search"
            />
          </div>

          <span fxFlex></span>

          <button
            class="ml-4"
            fxFlex="none"
            fxHide.gt-xs
            mat-icon-button
            type="button"
          >
            <mat-icon [icIcon]="icSearch"></mat-icon>
          </button>

          <button
            [matMenuTriggerFor]="columnFilterMenu"
            class="ml-4"
            fxFlex="none"
            mat-icon-button
            matTooltip="Filter Columns"
            type="button"
          >
            <mat-icon [icIcon]="icFilterList" color="primary"></mat-icon>
          </button>

          <div align="center" class="flex-col sm:flex-row justify-between">
            <button
              (click)="createCustomer()"
              class="btn btn-primary new-customer-btn-color empty-table-button"
              matTooltip="Add Customer"
            >
              <span style="color: #fff;"> New Customer </span>
            </button>
          </div>
        </div>
        <table
          @stagger
          [dataSource]="dataSource"
          class="w-full"
          mat-table
          matSort  matSortActive="name" matSortDirection="asc" matSortDisableClear
        >
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <!-- branchesIcon Column -->
          <ng-container matColumnDef="checkbox">
            <th *matHeaderCellDef mat-header-cell>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                color="primary"
              >
              </mat-checkbox>
            </th>
            <td *matCellDef="let row" class="w-4" mat-cell>
              <mat-checkbox
                (change)="$event ? selection.toggle(row) : null"
                (click)="$event.stopPropagation()"
                [checked]="selection.isSelected(row)"
                color="primary"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Image Column -->
          <ng-container matColumnDef="image">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              <img
                [src]="row['imageSrc']"
                class="avatar h-8 w-8 align-middle"
              />
            </td>
          </ng-container>

          <!-- Text Columns -->
          <!-- <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container> -->

          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Id" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["id"] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Customer" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              <a href="javascript:" (click)="customerDetails(row['id'])" class="text-primary">
                {{ row["name"] | titlecase }}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="country">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Country" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ getCountryName(row["country"]) | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="representative">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Primary Name" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["representative"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Primary Email" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["email"] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="registrationNumber">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Regiestration Number" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["registrationNumber"] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="addressLine1">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Address Line 1" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["addressLine1"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="addressLine2">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Address Line 2" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["addressLine2"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "City" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["city"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "State" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["state"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="postcode">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Post Code" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["postcode"] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Phone Number" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["phoneNumber"] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Branch">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Branch" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["branch"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Role" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["role"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber2">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Phone Number 2" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ row["phoneNumber2"] | titlecase }}
            </td>
          </ng-container>

          <ng-container matColumnDef="hasBranch">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Branches" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              
              <a
                href="javascript:"
                (click)="openBranchesPopup(row['id'])"
                class="text-primary"
              >
             
              {{row["hasBranch"] == false ? 'No Branches' : 'Multiple Branches'}}              
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="updatedDate">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
              {{ "Last Updated" | uppercase }}
            </th>
            <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
              {{ dateFormate(row["updatedDate"])}}
            </td>
          </ng-container>

          <!-- Contact Column -->
          <ng-container matColumnDef="contact">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" mat-cell>
              <div class="flex">
                <a
                  (click)="$event.stopPropagation()"
                  [style.background-color]="
                    theme.colors.primary['500'] | colorFade: 0.9
                  "
                  [style.color]="theme.colors.primary['500']"
                  class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover"
                  mat-icon-button
                >
                  <mat-icon [icIcon]="icPhone" size="18px"></mat-icon>
                </a>

                <a
                  (click)="$event.stopPropagation()"
                  [style.background-color]="
                    theme.colors.teal['500'] | colorFade: 0.9
                  "
                  [style.color]="theme.colors.teal['500']"
                  class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                  mat-icon-button
                >
                  <mat-icon [icIcon]="icMail" size="18px"></mat-icon>
                </a>

                <a
                  (click)="$event.stopPropagation()"
                  [style.background-color]="
                    theme.colors.green['500'] | colorFade: 0.9
                  "
                  [style.color]="theme.colors.green['500']"
                  class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                  mat-icon-button
                >
                  <mat-icon [icIcon]="icMap" size="18px"></mat-icon>
                </a>
              </div>
            </td>
          </ng-container>

          <!-- Label Column -->
          <ng-container matColumnDef="labels">
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header
            >
              Labels
            </th>
            <td *matCellDef="let row" mat-cell>
              <div
                (click)="$event.stopPropagation()"
                fxLayoutAlign="start center"
                fxLayoutGap="4px"
              >
                <div
                  *ngFor="let label of row.labels"
                  [style.background-color]="label.backgroundColor"
                  [style.color]="label.color"
                  class="rounded px-2 py-1 font-medium text-xs"
                  fxFlex="none"
                >
                  {{ label.text }}
                </div>
                <div
                  (click)="labelSelect.open()"
                  class="text-secondary bg-base text-hint cursor-pointer hover:bg-hover"
                  fxFlex="none"
                  fxLayout="row"
                  fxLayoutAlign="center center"
                >
                  <ic-icon [icon]="icAdd" size="18px"></ic-icon>
                </div>
                <mat-select
                  #labelSelect="matSelect"
                  (selectionChange)="onLabelChange($event, row)"
                  [value]="row.labels"
                  class="invisible w-0 h-0 text-sm"
                  fxFlex="0 1 0px"
                  multiple
                >
                  <mat-option *ngFor="let label of labels" [value]="label">
                    <div
                      [style.background-color]="label.color"
                      class="h-6 w-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block"
                    ></div>
                    <span>{{ label.text }}</span>
                  </mat-option>
                </mat-select>
              </div>
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <button
                (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ customer: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button"
              >
                <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
              </button>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr
            *matRowDef="let row; columns: visibleColumns"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row
          ></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="pageSizeOptions"
          [pageSize]="pageSize"
          class="sticky left-0"
        ></mat-paginator>

        <!-- customers empty data -->
        <ng-template #emptyData>
          <div class="empty-table" align="center">
            <svg
              fill="#9AA5B6"
              version="1.0"
              xmlns="http://www.w3.org/2000/svg"
              width="50.000000pt"
              height="50.000000pt"
              viewBox="0 0 512.000000 512.000000"
              preserveAspectRatio="xMidYMid meet"
            >
              <metadata>
                Created by potrace 1.15, written by Peter Selinger 2001-2017
              </metadata>
              <g
                transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                fill="#9AA5B6"
                stroke="#9AA5B6"
              >
                <path
                  d="M1152 4299 c-71 -28 -144 -101 -171 -174 -21 -55 -21 -64 -21 -1210
            l0 -1155 160 0 160 0 0 1120 0 1120 960 0 960 0 0 160 0 160 -997 -1 c-978 0
            -999 0 -1051 -20z"
                />
                <path
                  d="M1792 3659 c-72 -28 -144 -102 -171 -174 -21 -57 -21 -58 -19 -1263
            l3 -1207 23 -43 c29 -55 89 -115 144 -144 l43 -23 967 -3 c961 -2 967 -2 1022
            19 75 28 147 99 175 174 21 55 21 64 21 1245 0 1176 0 1190 -21 1244 -23 64
            -86 133 -150 168 l-44 23 -970 2 c-955 2 -971 2 -1023 -18z m1888 -1419 l0
            -1120 -880 0 -880 0 0 1120 0 1120 880 0 880 0 0 -1120z"
                />
              </g>
            </svg>

            <h4>No Customer Found</h4>
            <div>
              <span class="table-note-notification"
                >No customers added yet, add your first now</span
              >
            </div>
            <br />
            <div
              align="center"
              class="w-full flex-col sm:flex-row justify-between"
            >
              <button
                (click)="createCustomer()"
                class="btn btn-primary new-customer-btn-color empty-table-button"
                matTooltip="Add Customer"
              >
                <span style="color: #fff;"> New Customer </span>
              </button>
            </div>
          </div>
        </ng-template>

        <!-- branches empty data -->
        <ng-template #branchesEmptyData>
          <div class="empty-table" align="center">
            <svg
              fill="#9AA5B6"
              version="1.0"
              xmlns="http://www.w3.org/2000/svg"
              width="50.000000pt"
              height="50.000000pt"
              viewBox="0 0 512.000000 512.000000"
              preserveAspectRatio="xMidYMid meet"
            >
              <metadata>
                Created by potrace 1.15, written by Peter Selinger 2001-2017
              </metadata>
              <g
                transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                fill="#9AA5B6"
                stroke="#9AA5B6"
              >
                <path
                  d="M1152 4299 c-71 -28 -144 -101 -171 -174 -21 -55 -21 -64 -21 -1210
            l0 -1155 160 0 160 0 0 1120 0 1120 960 0 960 0 0 160 0 160 -997 -1 c-978 0
            -999 0 -1051 -20z"
                />
                <path
                  d="M1792 3659 c-72 -28 -144 -102 -171 -174 -21 -57 -21 -58 -19 -1263
            l3 -1207 23 -43 c29 -55 89 -115 144 -144 l43 -23 967 -3 c961 -2 967 -2 1022
            19 75 28 147 99 175 174 21 55 21 64 21 1245 0 1176 0 1190 -21 1244 -23 64
            -86 133 -150 168 l-44 23 -970 2 c-955 2 -971 2 -1023 -18z m1888 -1419 l0
            -1120 -880 0 -880 0 0 1120 0 1120 880 0 880 0 0 -1120z"
                />
              </g>
            </svg>

            <h4>No Branches Found</h4>
            <br />
          </div>
        </ng-template>
      </div>
    </vex-page-layout-content>
  </vex-page-layout>

  <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <form class="date-block" [formGroup]="filterForm">
    <div @fadeInUp class="card" fxFlex="auto">
      <div
        class="px-6 py-4 border-b"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <h2 class="title m-0">Filter Result</h2>
      </div>

      <div class="px-8 py-8" fxLayout="column">
        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="16px"
          fxLayoutGap.lt-sm="0"
        >
          <mat-form-field fxFlex="auto">
            <mat-label>All Countries</mat-label>
            
            <mat-select
              formControlName="filterByCountry"
              (click)="$event.stopPropagation()"
            >
            <mat-option *ngFor="let c of country"  [value]="c.id" >{{ c.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        

        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="16px"
          fxLayoutGap.lt-sm="0"
        >
          <mat-form-field fxFlex="auto">
            <mat-label>Branches</mat-label>
            <mat-select
              formControlName="fiterBybranch"
              (click)="$event.stopPropagation()"
            >
              <mat-option value="multi_branch">Multi Branches</mat-option>
              <mat-option value="no_branch">No Branches</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <button
            (click)="$event.stopPropagation()"
            (click)="clearFormValue()"
            mat-button
            type="button"
          >
            Clear Filters
          </button>
          <button
            color="primary"
            (click)="filterByCountryOrByBranches(filterForm.value)"
            mat-raised-button
            type="button"
          >
            Apply Filters
          </button>
        </div>
      </div>
    </div>
  </form>
  </mat-menu>

  <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-customer="customer" matMenuContent>
      <button
      (click)="customerDetails(customer.id)"
      
        mat-menu-item
      >
        <mat-icon [icIcon]="icDetails"></mat-icon>
        <span>Details</span>
      </button>
      <button (click)="updateCustomer(customer)" mat-menu-item>
        <mat-icon [icIcon]="icEdit"></mat-icon>
        <span>Modify</span>
      </button>
      <button (click)="deleteCustomer(customer)" mat-menu-item>
        <mat-icon [icIcon]="icDelete"></mat-icon>
        <span>Delete</span>
      </button>

   
      <div *ngIf="customer.hasBranch == true">
        <button (click)="openBranchesPopup(customer.id)" mat-menu-item>
          <mat-icon [icIcon]="icCallSplit"></mat-icon>
          <span>Branches</span>
        </button>
      </div>
     
    </ng-template>
  </mat-menu>
</mat-drawer-container>
