.add-icon {
  font-size: 80px !important;
}
.branches-card {
  padding-bottom: 100%;
  position: relative;
}
.branches-body {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  > div {
    height: 100%;
  }
}
.text-w {
  width: 205px;
  margin: 0 auto;
  max-width: 100%;
}
.bottom-address-block {
  position: absolute;
  bottom: 30px;
  padding-right: 15px;
  .address {
    font-size: 12px;
    line-height: 1.5;
    text-transform: capitalize;
  }
  .address-icon {
    background-color: rgba(92, 119, 255, 0.098);
    color: rgb(92, 119, 255);
    width: 40px;
    height: 40px;
    font-size: 16px;
    padding-top: 7px;
  }
}
