
.new-customer-btn-color{
    background-color: #4A74E6!important;
}

.empty-table {
    height: 300px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .empty-table-button{
    width: 120px;
    height: 30px;
  }
  .table-note-notification{
    color: var(--toolbar-bell-icon-color);
}
  
