<vex-page-layout>

  

  <vex-page-layout-content 
                           class="-mt-6">

    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
          <span *ngIf="selection.isEmpty()">Catalogue</span>
          <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
            Catalogue<span *ngIf="selection.selected.length > 1"></span> selected</span>
        </h2>

        <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
          <button (click)="deleteCustomers(selection.selected)"
                  color="primary"
                  mat-icon-button
                  matTooltip="Delete selected"
                  type="button">
            <mat-icon [icIcon]="icDelete"></mat-icon>
          </button>

        </div>

        <div class="bg-card rounded-full border px-4"
             fxFlex="400px"
             fxFlex.lt-md="auto"
             fxHide.xs
             fxLayout="row"
             fxLayoutAlign="start center">
          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
          <input [formControl]="searchCtrl"
                 class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                 placeholder="Search..."
                 type="search">
        </div>

        <span fxFlex></span>

        <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <button [matMenuTriggerFor]="columnFilterMenu"
                class="ml-4"
                fxFlex="none"
                mat-icon-button
                matTooltip="Filter Columns"
                type="button">
          <mat-icon [icIcon]="icFilterList" color="primary"></mat-icon>
        </button>

        
        
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                          (click)="$event.stopPropagation()"
                          [checked]="selection.isSelected(row)"
                          color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            <img [src]="row['imageSrc']" class="avatar h-8 w-8 align-middle">
          </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "Id" | uppercase }}
          </th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            {{ row["id"] }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "Produt Name" | uppercase }}
          </th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            {{ row["name"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "Product code" | uppercase }}
          </th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            {{ row["code"] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerId">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "Customer" | uppercase }}
          </th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            {{ getCompanyName(row["customerId"]) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerBrand">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "Brand" | uppercase }}
          </th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            {{ row["customerBrand"] ? row["customerBrand"].name : '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "type" | uppercase }}
          </th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            {{ getProductType(row)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="sizes">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "sizes" | uppercase }}
          </th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            {{ totalVariations(row)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="updatedOn">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ "updated On" | uppercase }}
          </th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            {{ dateFormate(row["updatedAt"])}} 
          </td>
        </ng-container>

        <!-- Contact Column -->
        <ng-container matColumnDef="contact">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" mat-cell>
            <div class="flex">
              <a (click)="$event.stopPropagation()"
                 [style.background-color]="theme.colors.primary['500'] | colorFade:0.9"
                 [style.color]="theme.colors.primary['500']"
                 class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover"
                 mat-icon-button>
                <mat-icon [icIcon]="icPhone" size="18px"></mat-icon>
              </a>

              <a (click)="$event.stopPropagation()"
                 [style.background-color]="theme.colors.teal['500'] | colorFade:0.9"
                 [style.color]="theme.colors.teal['500']"
                 class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                 mat-icon-button>
                <mat-icon [icIcon]="icMail" size="18px"></mat-icon>
              </a>

              <a (click)="$event.stopPropagation()"
                 [style.background-color]="theme.colors.green['500'] | colorFade:0.9"
                 [style.color]="theme.colors.green['500']"
                 class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover"
                 mat-icon-button>
                <mat-icon [icIcon]="icMap" size="18px"></mat-icon>
              </a>
            </div>
          </td>
        </ng-container>

        <!-- Label Column -->
        <ng-container matColumnDef="labels">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Labels</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
              <div *ngFor="let label of row.labels"
                   [style.background-color]="label.backgroundColor"
                   [style.color]="label.color"
                   class="rounded px-2 py-1 font-medium text-xs"
                   fxFlex="none">
                {{ label.text }}
              </div>
              <div (click)="labelSelect.open()"
                   class="text-secondary bg-base text-hint cursor-pointer hover:bg-hover"
                   fxFlex="none"
                   fxLayout="row"
                   fxLayoutAlign="center center">
                <ic-icon [icon]="icAdd" size="18px"></ic-icon>
              </div>
              <mat-select #labelSelect="matSelect"
                          (selectionChange)="onLabelChange($event, row)"
                          [value]="row.labels"
                          class="invisible w-0 h-0 text-sm"
                          fxFlex="0 1 0px"
                          multiple>
                <mat-option *ngFor="let label of labels" [value]="label">
                  <div [style.background-color]="label.color"
                       class="h-6 w-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block"></div>
                  <span>{{ label.text }}</span>
                </mat-option>
              </mat-select>
            </div>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button (click)="$event.stopPropagation()"
                    [matMenuTriggerData]="{ customer: row }"
                    [matMenuTriggerFor]="actionsMenu"
                    mat-icon-button
                    type="button">
              <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr 
            *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
    </div>

  </vex-page-layout-content>

</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <form class="date-block" [formGroup]="filterForm">

    <div @fadeInUp class="card" fxFlex="auto">
      <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">Filter Result</h2>
      </div>

      <div class="px-8 py-8" fxLayout="column">
      
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <mat-form-field fxFlex="auto">
            <mat-label>All Customers</mat-label>
            <mat-select formControlName="customer2" (click)="$event.stopPropagation();">
              <mat-option value="Jamal">Jamal</mat-option>
              <mat-option value="Dejesus">Dejesus</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="auto">
            <mat-label>All Statuses</mat-label>
            <mat-select  formControlName="status"  (click)="$event.stopPropagation();" >
              <mat-option value="pending">Pending</mat-option>
              <mat-option value="inProgress">In Progress</mat-option>
              <mat-option value="completed">Completed</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <mat-form-field fxFlex="auto">
            <mat-label>All Products</mat-label>
            <mat-select formControlName="poNumber"  (click)="$event.stopPropagation();">
              <mat-option  value="po-121212">PO-121212</mat-option>
              <mat-option value="po-121211">PO-121211</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="auto">
            <mat-label>All Sizes</mat-label>
            <mat-select formControlName="sizes"   (click)="$event.stopPropagation();">
              <mat-option  value="xxlarge">xx Large</mat-option>
              <mat-option value="xlarge">x Large</mat-option>
              <mat-option value="large">Large</mat-option>
              <mat-option value="medium">Medium</mat-option>
              <mat-option value="small">Small</mat-option>

            </mat-select>
          </mat-form-field>
        </div>


        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <mat-form-field fxFlex="auto">
            <input matInput 
              [matDatepicker]="fromOrderDate" 
              placeholder="Order From Date" 
              formControlName="fromOrderDate" 
              (click)="$event.stopPropagation();">
            <mat-datepicker-toggle matSuffix [for]="fromOrderDate"></mat-datepicker-toggle>
            <mat-datepicker #fromOrderDate></mat-datepicker>
          </mat-form-field>
      
        
          <mat-form-field fxFlex="auto">
            <input matInput 
              [matDatepicker]="toOrderDate" 
              placeholder="Order To Date" 
              formControlName="toOrderDate"
              (click)="$event.stopPropagation();">
            <mat-datepicker-toggle matSuffix [for]="toOrderDate"></mat-datepicker-toggle>
            <mat-datepicker #toOrderDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
          <mat-form-field fxFlex="auto">
            <input matInput 
              [matDatepicker]="fromShipmentDate" 
              placeholder="Shipment From Date" 
              formControlName="fromShipmentDate"
              (click)="$event.stopPropagation();">
            <mat-datepicker-toggle matSuffix [for]="fromShipmentDate"></mat-datepicker-toggle>
            <mat-datepicker #fromShipmentDate></mat-datepicker>
          </mat-form-field>
      
        
          <mat-form-field fxFlex="auto">
            <input matInput 
              [matDatepicker]="toShipmentDate" 
              placeholder="Shipment To Date" 
              formControlName="toShipmentDate"
                (click)="$event.stopPropagation();">
            <mat-datepicker-toggle matSuffix [for]="toShipmentDate"></mat-datepicker-toggle>
            <mat-datepicker #toShipmentDate></mat-datepicker>
          </mat-form-field>
        </div>

    
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <button  
          (click)="$event.stopPropagation();"
           (click)="clearFormValue()"
            mat-button type="button">Clear Filters</button>
          <button color="primary" (click)="getDateRange(filterForm.value)" mat-raised-button type="button">Apply Filters</button>
        </div>
      </div>
    </div>

  </form>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-customer="customer" matMenuContent>
    <button  mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modify</span>
    </button>
    <button mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
