<mat-dialog-content fxLayout="column" class="-mt-6" style="width: 750px;">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <vex-page-layout>
      <vex-page-layout-content
        [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
        class="-mx-6"
        style="padding: 0;"
      >
        <div class="card overflow-auto" style="min-height: 400px;">
          <div
            class="bg-app-bar px-6 h-16 border-b sticky left-0"
            fxLayout="row"
            fxLayoutAlign="start center"
            style="background-color: #1a202e; color: #fff;"
          >
            <h2 class="title my-0" fxFlex="50" fxHide.xs>
              <span>Add Products </span>
            </h2>
            <div fxFlex="50">
              <button
                class="text-secondary float-right"
                mat-dialog-close
                mat-icon-button
                type="button"
              >
                <mat-icon [icIcon]="icClose" style="color: #fff;"></mat-icon>
              </button>
            </div>
          </div>

          <div fxLayout="column">
            <div
              fxLayout="row"
              fxLayout.lt-sm="column"
              fxLayoutGap="15px"
              fxLayoutGap.lt-sm="0"
              class="px-6 pt-6 border-b border-dark"
            >

              <div class="ng-autocomplete mb-6  custom-autocoplete" *ngIf="optionsData.length > 0" style="width: 370px;">
                <ng-autocomplete 
                  [data]="optionsData"
                  formControlName="name"
                  [searchKeyword]="keyword"
                  (selected)='selectProductVariant($event)'
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate"
                  placeHolder="Select Product"
                  class="w-100"
                  >
                </ng-autocomplete>
                 
                <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
                </ng-template>
                 
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
                </div>
            </div>
          </div>

          <!-- table -->
          <table class="w-full" mat-table matSort>
            <thead>
              <tr class="border-b border-dark">
                <th
                  class="pl-6 pr-4 py-4 weight-400 text-secondary font-13 text-left"
                >
                  <mat-checkbox
                    color="primary"
                    (change)="allSizesSelect()"
                    value="totalSizesSelected"
                    [checked]="totalSizesSelected"
                  ></mat-checkbox>
                </th>
                <th
                  class="px-4 py-4 weight-400 text-secondary font-13 text-left"
                >
                  SIZE
                </th>
                <th
                  class="px-4 py-4 weight-400 text-secondary font-13 text-left"
                >
                  CARTONS
                </th>
                <th
                  class="px-4 py-4 weight-400 text-secondary font-13 text-left"
                >
                  PIECES
                </th>
                <th
                  class="px-4 py-4 weight-400 text-secondary font-13 text-left"
                  style="width: 180px;"
                >
                  CURRENCY
                </th>
                <th
                  class="px-4 py-4 weight-400 text-secondary font-13 text-left"
                  style="width: 180px;"
                >
                  PRICE / CARTON
                </th>
                <th
                  class="px-4 py-4 weight-400 text-secondary font-13 text-right"
                  style="width: 180px;"
                >
                  TOTAL VALUE
                </th>
              </tr>
            </thead>
            <tbody class="field-pb-0">
              <tr
                class="border-b border-dark"
                *ngFor="let row of varriantsArray.controls; let personIndex = index"
                formArrayName="varriantsArray"
              >
                <td class="pl-6 pr-4 py-2" [formGroupName]="personIndex">
                  <mat-checkbox
                    color="primary"
                    formControlName="isChecked"
                    (change)="
                      onCheckboxClick(
                        row.value.isChecked ? row.value.isChecked : false,
                        personIndex
                      )
                    "
                  ></mat-checkbox>
                  <input type="hidden" formControlName="itemId" />
                </td>
                <td class="pl-6 pr-4 py-2" [formGroupName]="personIndex">
                  <div>{{ getSizeName(row.value.variationId) }}</div>
                </td>
                <td class="px-4 py-2" [formGroupName]="personIndex">
                  <mat-form-field
                    appearance="outline"
                    class="text-left field-mtr-5"
                    style="width: 100px;"                    
                    (input)="
                      onFieldChange($event.target.value, personIndex, 'cartons')
                    "
                  >
                    <input
                      matInput
                      type="text"
                      formControlName="cartons"
                      (input)="checkNumberValidation($event, 'cartons', personIndex)"
                    />
                  </mat-form-field>
                </td>
                <td class="px-4 py-2 text-left" [formGroupName]="personIndex">
                  {{ (row.value.pieces ? row.value.pieces : 0) | number: "1.0-2" }}
                </td>
                <td class="px-4 py-2 text-left" [formGroupName]="personIndex">
                  {{ getCurrencyName }}
                </td>
                <td class="px-4 py-2" [formGroupName]="personIndex">
                  <mat-form-field
                    appearance="outline"
                    class="text-right field-mtr-5"
                    style="width: 100px;"                    
                    (input)="
                      onFieldChange($event.target.value, personIndex, 'price')
                    "
                  >
                    <input
                      matInput
                      class="text-right"
                      type="text"
                      formControlName="price"
                      (blur)="twoDecimal($event, 'price', personIndex)"
                    />
                  </mat-form-field>
                </td>
                <td class="px-4 py-2 text-right" [formGroupName]="personIndex">
                  {{ (row.value.totalValue ? row.value.totalValue : 0) | number: "1.2-2" }}
                </td>
              </tr>
            </tbody>
          </table>
          <!-- /table -->

          <ng-template #branchesEmptyData>
            <div class="empty-table" align="center">
              <svg
                fill="#9AA5B6"
                version="1.0"
                xmlns="http://www.w3.org/2000/svg"
                width="50.000000pt"
                height="50.000000pt"
                viewBox="0 0 512.000000 512.000000"
                preserveAspectRatio="xMidYMid meet"
              >
                <metadata>
                  Created by potrace 1.15, written by Peter Selinger 2001-2017
                </metadata>
                <g
                  transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                  fill="#9AA5B6"
                  stroke="#9AA5B6"
                >
                  <path
                    d="M1152 4299 c-71 -28 -144 -101 -171 -174 -21 -55 -21 -64 -21 -1210
                l0 -1155 160 0 160 0 0 1120 0 1120 960 0 960 0 0 160 0 160 -997 -1 c-978 0
                -999 0 -1051 -20z"
                  />
                  <path
                    d="M1792 3659 c-72 -28 -144 -102 -171 -174 -21 -57 -21 -58 -19 -1263
                l3 -1207 23 -43 c29 -55 89 -115 144 -144 l43 -23 967 -3 c961 -2 967 -2 1022
                19 75 28 147 99 175 174 21 55 21 64 21 1245 0 1176 0 1190 -21 1244 -23 64
                -86 133 -150 168 l-44 23 -970 2 c-955 2 -971 2 -1023 -18z m1888 -1419 l0
                -1120 -880 0 -880 0 0 1120 0 1120 880 0 880 0 0 -1120z"
                  />
                </g>
              </svg>

              <h4>No Branches Found</h4>
              <br />
            </div>
          </ng-template>
        </div>
      </vex-page-layout-content>
    </vex-page-layout>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="border-t border-dark -mx-6">
  <div class="py-3 px-6 w-100">
    <button
      mat-button
      type="button"
      class="btn-large border c-dark"
      mat-dialog-close
    >
      Cancel
    </button>
    <div
      class="float-right"
      fxLayout="row"
      fxLayoutGap="15px"
      fxLayoutAlign="end"
    >
      <button
        color="primary"
        mat-raised-button
        mat-button
        type="submit"
        class="btn-large"
        (click)="submit()"
        
      >
        Confirm
      </button>
      <!-- [disabled]="form.pristine || !form.valid" -->
    </div>
  </div>
</mat-dialog-actions>
