
<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-9rem" src="assets/img/demo/BW-Wordmark.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Welcome back</h2>
      <h4 class="body-2 text-secondary m-0">Sign in with your credentials below.</h4>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px"> 
      <alert></alert>
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
        
          <input formControlName="email" matInput required email>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div class="email-error-color" *ngIf="f.email.errors.required">Email is required</div>
            <div class="email-error-color" *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
          <mat-error *ngIf="form.get('email').hasError('required')">We need an email address to log you in</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Password</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Click the eye to toggle visibility</mat-hint>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div class="email-error-color" *ngIf="f.password.errors.required">Password is required</div>
        </div>
          <mat-error *ngIf="form.get('password').hasError('required')">We need a password to log you in</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox class="caption" color="primary">Remember Me</mat-checkbox>
        <a [routerLink]="['/forgot-password']" class="caption">Forgot Password?</a>
      </div>

      <button [disabled]="loading" color="primary" mat-raised-button type="button" (click)="onSubmit()">
        <!-- <mat-progress-spinner *ngIf="loading" mode="indeterminate" color="primary"></mat-progress-spinner> -->
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        SIGN IN
    </button>
    

      <!-- <p class="text-secondary text-center">
        Don't have an account?<br/>
        <a [routerLink]="['/register']">Click here to create one</a>
      </p> -->
    </div>
  </div>
</div>
