// td.mat-column-star {
//   width: 20px;
//   padding-right: 8px;
// }

// th.mat-column-position,
// td.mat-column-position {
//   padding-left: 8px;
// }

// .mat-table-sticky:first-child {
//   border-right: 1px solid #e0e0e0;
// }

// .mat-table-sticky:last-child {
//   border-left: 1px solid #e0e0e0;
// }

.mat-table-sticky {
    opacity: 1;
  }
  
  .example-sticky-toggle-group {
    margin: 8px;
  }
  
  .mat-column-filler {
    padding: 0 8px;
    font-size: 10px;
    text-align: center;
  }
  
  .mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 80px;
    box-sizing: border-box;
  }
  .itemName{
    display: inline-block;
    max-width: 150px;  
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .sizeName{
    position: relative;
    margin-left: 3px;
  }