.table-box{
    table {
        td {
            padding-bottom: 10px;
            &:first-child{
                padding-right: 15px;
            }
        }
    }
}
.packing-right-block{
    min-height: calc(100vh - 140px);
}
.placeholder-img{
    width: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 390px;
}